.email-error-message {

}
.name-error-message {

}
.password-error-message {

}
.confirm-error-message{

}
.email-validation-error , .name-validation-error, .password-validation-error, .confirm-validation-error {
  border-color: #e61632;
  margin-bottom: 0px;
}
.error-msg-wrap{
  margin-bottom: 5px;
    text-align: left;
    font-size: 12px;
    color: #e61632;
}

.single-input .MuiSvgIcon-root {
  top: 12px;
  font-size: 20px;
  right: 8px;
  color: #c2bfbf;
  position: absolute;
}
.pop-msg{
  width: 300px;
  text-align: center;
  color: black;
  font-weight: 600;
}
